@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Fahkwang:500");
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:700");
@import url("https://fonts.googleapis.com/css?family=KoHo:700");

html,
body {
  height: 100%;
  font-family: sans-serif;
}

html {
  display: table;
  margin: auto;
  background: url(lib/ezgif-5-cde2a9021.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  display: table-cell;
  vertical-align: top;
  min-width: 320;
}

.header {
  font-family: "KoHo", sans-serif;
  font-size: 36px;
  text-align: center;
  border-radius: 5px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

#bill-form {
  margin-top: -10px;
  font-size: 24px;
}

input {
  margin: 10px;
  border-radius: 8px;
  width: 200px;
}

#amount-input {
  text-align: center;
  font-family: "Fahkwang", sans-serif;
  font-size: 14px;
  padding: 10px;
  background: none;
  border-color: #355c7d;
}

#people-input {
  text-align: center;
  font-family: "Fahkwang", sans-serif;
  font-size: 14px;
  padding: 10px;
  background: none;
  border-color: #355c7d;
}

#tip-input {
  text-align: center;
  font-family: "Fahkwang", sans-serif;
  font-size: 14px;
  padding: 10px;
  background: none;
  border-color: #355c7d;
}

button {
  display: none;
}

.credit {
  font-family: "Chakra Petch", sans-serif;
  text-align: right;
  color: #355c7d;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 5px;
}

a {
  color: #355c7d;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #6c5c7b;
}
