@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Fahkwang:500");
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:700");

html,
body {
  height: 100%;
  font-family: sans-serif;
}

html {
  display: table;
  margin: auto;
  background: url(lib/72a184aa7846cad0d5a82cf55dc3f406.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  display: table-cell;
  vertical-align: top;
  min-width: 320;
}

.header {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

#todo_input {
  text-align: center;
  font-family: "Fahkwang", sans-serif;
  font-size: 14px;
  padding: 10px;
  width: 90%;
  background: none;
  border-color: #355c7d;
}

ul {
  font-family: "Fahkwang", sans-serif;
  border-radius: 5px;
  min-width: 320px;
}

li {
  display: flex;
}

.completed {
  text-decoration: line-through;
  border-radius: 5px;
}

.close {
  margin-left: auto;
  padding: 5px;
}

.close:hover {
  cursor: pointer;
}

.button {
  display: none;
}

.credit {
  font-family: "Chakra Petch", sans-serif;
  text-align: right;
  color: #355c7d;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 5px;
}

a {
  color: #355c7d;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #6c5c7b;
}

.message {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 12px;
  max-width: 250px;
  min-height: 50px;
  top: 20px;
  left: 20px;
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
